# =====================================================
# SOLAREVO ENERTRACK
# Arquivo de referência
# NÃO UTILIZAR EM EXECUÇÃO
# =====================================================

# Ambiente
APP_ENV=

# Aplicação
NEXT_PUBLIC_ENV_NAME=
NEXT_PUBLIC_SITE_URL=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Backend
SUPABASE_SERVICE_ROLE_KEY=

# IA
GEMINI_API_KEY=

# SendPulse
SENDPULSE_API_ID=
SENDPULSE_API_SECRET=