@import "tailwindcss";

@theme {
  /* Paleta EnerTrack Oficial */
  --color-enertrack-orange-main: #fe6e00;
  --color-enertrack-orange-secondary: #ff8b1a;
  --color-enertrack-orange-dark: #c53c00;
  
  --color-enertrack-slate-950: #0a0a0a;
  --color-enertrack-slate-900: #111827;
  --color-enertrack-slate-800: #1f2937;
  
  --color-enertrack-green-success: #00c758;
  --color-enertrack-green-light: #05df72;
  
  --color-enertrack-blue-accent: #3080ff;
  --color-enertrack-blue-dark: #162456;
  
  --color-enertrack-white: #ffffff;
  --color-enertrack-gray-light: #f8fafc;
}

:root {
  --background: var(--color-enertrack-slate-950);
  --foreground: var(--color-enertrack-white);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}